<div class="row">
  <div class="status">
    <table class="text-center col-xs-10 col-xs-offset-1">
    <tr>
      <th class="text-center">クチコミ</th>
      <th class="text-center">イモ惚れ</th></th>
    </tr>
    <tr>
      <td><%= @count_reviews %></td>
      <td><%= @count_likes_reviews %></td>
    </tr>
    </table>
  </div>
</div>