<div class="row">
  <div class="status">
  <table class="text-center col-xs-10 col-xs-offset-1">
  <tr>
    <th class="text-center">クチコミ</th>
    <th class="text-center">イモ惚れ</th></th>
  </tr>
  <tr>
    <td>15</td>
    <td>15</td>
  </tr>
</table>
</div>
</div>