<div class="conteiner">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="info col-md-12 text-center" >
      <img class="info_1" src="/images/imochan_lg.png"><img class="info_2" src="/images/fukidashi.png">
      </div>
    </div>
  </div>

  <div class="center jumbotron">
    <div class="text-center">
      <h1>おいも村でできることって？？</h1>
      <ul>
        <li><h3>クチコミがかけるよ！</h3></li>
        <li><h3>みんなのクチコミがみられるよ！</h3></li>
        <li><h3>クチコミをお気に入りに登録することができるよ！</h3></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <div class="post-sample">
        <div class="post-sample-title">
          <h3>みんなのクチコミを見てみよう！</h3>
        </div>
        <div class="post-sample-body">
          クチコミのサンプルが表示される
        </div>
      </div>
    </div>
  </div>
</div>