<div class="user_new text-center">
    <h2>本サイトについて</h2>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div>
      <h4>はじめに</h4>
      <p>おいも村のクチコミは、さつまいも好きの皆様による主観的な感想や評価をインターネット上に公開することで、おいもや干し芋選びの参考として多くの皆様に活用いただくことを目的としています。</p>
      <p>クチコミサイトであるおいも村には、忌憚ないクチコミをお寄せいただきたいと考えておりますが、健全なコミュニティサイト運営を行うため、クチコミを投稿する際に遵守いただく事項につき本ガイドラインを規定させていただきます。</p>
      <p>会員の皆様には、本ガイドラインの遵守にご協力いただきますよう、よろしくお願いいたします。</p>
      <p>以下、ガイドラインの詳細となります。会員登録を行う前に必ずお読みください。</p>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <div>
      <h4>1.クチコミは実際に召し上がった評価を中心に書いて下さい｡</h4>
    </div>
    <div>
      <h4>2.次の内容のクチコミの掲載はお断りしております。</h4>
      <ul>
        <li>販売店や商品等へ悪影響を及ぼすかつ内容の確認が困難な事象についての投稿</li>
        <li>衛生管理面のクレーム</li>
        <li>販売店等の法律違反・契約違反に関する内容</li>
        <li>個人に対しての誹謗中傷、販売店・商品等への断定的批判、及び不適切な表現</li>
        <li>販売店・商品等への個人的なクレームやトラブルに関する内容</li>
        <li>トラブルがあった販売店・商品等へのクチコミ</li>
        <li>法令に反する行為や犯罪行為等に結びつくクチコミ</li>
        <li>プライバシーを侵害するもの</li>
        <li>著作権等の知的財産権を侵害するもの（判断は会員様ご自身で判断いただくことになり、本サイトは一切責任を負いません）</li>
        <li>対価を目的としたもの</li>
        <li>販売店・製造者自身による、主観的ではないクチコミ（自作自演など）</li>
      </ul>
    </div>
    <div>
      <h4>3.投稿されたすべてのクチコミは、運営側の判断により修正・加筆・削除等することがあります。</h4>
    </div>
    <div>
      <h4>4.投稿されたすべてのクチコミは、当サイトに利用許諾されることになります。</h4>
    </div>
    <div>
      <h4>5.クチコミの著作権は当サイトに属します。</h4>
    </div>
    <div>
      <h4>6.サイトに対して妨害行為等を行っている方に関して、法的措置を取らせていただく場合があります。</h4>
    </div>
    <div>
      <h4>7.ガイドラインは予告なしに変更、修正、 追加、削除させていただくことがあります。</h4>
    </div>
    <div>
      <h4>8.当サイトは予告なしに変更、修正、追加、削除させていただくことがあります。</h4>
    </div>
      <form class="text-center"><input type="button" value="閉じる" onClick="window.open('','_self').close();"></form>
  </div>
</div>