<footer>
  <div class="text-center">
    <h6><%= link_to "|ガイドライン|", guide_path, :target => ["_blank"] %></h6>
    <h6>© 2019 おいも村 oimomura.</h6>
  </div>
</footer>

<!-- 
<header>
  <nav class="navbar_foot navbar-default navbar-fixed-bottom">
    <div class="container">
      <h6 class="nav navbar-text navbar-right">© 2019 おいも村 oimomura</h6>
     </div>
  </nav>
</header>
-->