<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-left" href="/"><img src="/images/logo.png" alt="oimomura"></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="nav_btn"><%= link_to "マイページ", user_path(current_user), class: "btn" %></li>
            <li class="nav_btn"><%= link_to "ログアウト", logout_path, class: "btn", method: :delete %></li>
          <% else %>
            <li class="nav_btn"><%= link_to "会員登録", signup_path, class: "btn" %></li>
            <li class="nav_btn"><%= link_to "ログイン", login_path, class: "btn" %></li>
          <% end %>
        </ul>
      </div>
      </div>
    </div>
  </nav>
</header>